<% content_for(:title, 'Home' ) %>

<h1>This is Home!</h1>
EventScene is yada yada <br/>

<%unless user_signed_in?%>
<h1>Create an Event Now!</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%end%>


