<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @ticket.quantity %>
</p>

<p>
  <strong>Sales start datetime:</strong>
  <%= @ticket.sales_start_datetime %>
</p>

<p>
  <strong>Sales end datetime:</strong>
  <%= @ticket.sales_end_datetime %>
</p>

<p>
  <strong>Event:</strong>
  <%= @ticket.event_id %>
</p>

<%= link_to 'Edit',  edit_event_ticket_path(@ticket.event, @ticket) %> |
<%= link_to 'Back', event_tickets_path %>
